<a href="https://colab.research.google.com/github/tjdrhks0808/BOJ/blob/main/20210721~20210804_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 21.07.21

In [ ]:
N = int(input())

for i in range(9):
  print(N, " * ", i+1, " = ", N*(i+1))

2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

In [ ]:
T = int(input())

for i in range(T):
  a, b = map(int, input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
n = int(input())

sum = 0
for i in range(n):
  sum += i+1

print(sum)

5
15

In [ ]:
import sys

T = int(input())

for i in range(T):
  a, b = map(int, sys.stdin.readline().split())
  print(a+b)

In [ ]:
N = int(input())

for i in range(N):
  print(i+1)

5
1
2
3
4
5

In [ ]:
N = int(input())

for i in range(N, 0, -1):
  print(i)

5
5
4
3
2
1

In [ ]:
T = int(input())

for i in range(T):
  a, b = map(int, input().split())
  print("Case #%d:" %(i+1), a+b)

5
1 1
Case #1: 2
2 2
Case #2: 4
3 3
Case #3: 6
9 8
Case #4: 17
11 17
Case #5: 28

In [ ]:
T = int(input())

for i in range(T):
  a, b = map(int, input().split())
  print("Case #{0}: {1} + {2} = {3}".format(i+1, a, b, a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [ ]:
N = int(input())

for i in range(N):
  print('{:<5}'.format("*" * (i+1)))

# 빈칸이 남음

5
*
**
***
****
*****

In [ ]:
N = int(input())

for i in range(N):
  for j in range(i+1):
    print("*", end="")
  print("")

5
*
**
***
****
*****

In [ ]:
N = int(input())

for i in range(N):
    print('{:>5}'.format("*"*(i+1)))

5
    *
   **
  ***
 ****
*****

In [ ]:
N = int(input())

for i in range(N):
  for j in range(N-i-1):
    print(" ", end="")
  for k in range(i+1):
    print("*", end="")
  print("")

5
    *
   **
  ***
 ****
*****

In [ ]:
n, x = map(int, input().split())
a = input().split()

answer=[]
for i in range(n):
  if int(a[i]) < x:
    print(int(a[i]), end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

# 21.07.22

In [ ]:
a = 1
b = 1

while a != 0 and b != 0:
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  print(a+b)

2 3
5
5 5
10
9 8
17
0 0

In [ ]:
while True:
  try:
    a, b = map(int, input().split())
    print(a+b)
  except:
    break

0 5

In [ ]:
N = int(input())

sum = N//10 + N%10
new = (N%10)*10 + sum%10
cycle = 1

while new != N:

  sum = new//10 + new%10
  new = (new%10)*10 + sum%10
  cycle += 1

print(cycle)

26
4

In [ ]:
N = int(input())
a = list(map(int, input().split()))

print(min(a), max(a))

5
20 10 30 7 5
5 30

In [ ]:
a = []
for i in range(9):
  a.append(int(input()))

print('{}\n{}'.format(max(a), a.index(max(a))+1))

1
2
3
4
5
6
7
8
9
9
9

In [ ]:
a = int(input())
b = int(input())
c = int(input())

N = str(a*b*c)

for i in range(10):
  print(N.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
set(list)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [ ]:
list = []
for i in range(10):
  list.append(int(input())%42)

list = set(list)
print(len(list))

1
2
3
4
5
6
1
8
9
4
8

In [ ]:
N = int(input())
a = list(map(int, input().split()))

M = max(a)

new = []
for i in a:
  new.append(i/M*100)

print(sum(new)/N)

3
40 80 60
75.0

In [ ]:
N = int(input())

for i in range(N):
  quiz = list(input())
  score_list=[]
  if quiz[0] == "O":
    score_list.append(1)
  else:
    score_list.append(0)

  for j in range(1, len(quiz)):
    if quiz[j] == "O":
      score_list.append(score_list[j-1]+1)
    else:
      score_list.append(0)

  print(sum(score_list))

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
C = int(input())

for i in range(C):
  a = list(map(int, input().split()))
  number = a[0]
  avg = sum(a[1:])/number
  cnt = 0
  for j in range(1, len(a)):
    if a[j] > avg:
      cnt += 1
  ratio = cnt/number*100

  print('{:.3f}%'.format(ratio))

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

In [ ]:
def solve(a):
  ans = sum(a)
  return ans

In [ ]:
full = set(range(1,10001))
remove_set = set()

for number in full:
  n_self_num = number + sum(map(int, str(number)))
  remove_set.add(n_self_num)

self_number_set = full - remove_set
for i in sorted(self_number_set):
  print(i)

In [ ]:
N = int(input())

full = list(range(1,N+1))
cnt = 0

for i in full:
  if len(str(i)) <= 2:
    cnt += 1
  elif len(str(i)) == 3:
    if (int(str(i)[1]) - int(str(i)[0])) == (int(str(i)[2]) - int(str(i)[1])):
      cnt += 1
  
print(cnt)

1000
144

#21.07.28

In [ ]:
a = input()
print(ord(a))

C

67

In [ ]:
N = int(input())
num = input()

sum=0
for i in range(len(num)):
  sum += int(num[i])

print(sum)

5
54321
15

In [ ]:
S = input()
alphabet = list(range(97,123))

for i in alphabet:
  print(S.find(chr(i)))

In [ ]:
T = int(input())

for j in range(T):
  R, S = input().split()
  text = ""
  for i in S:
    text += i * int(R)
  print(text)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
S = input().lower()
word_list = list(set(S))

cnt = []
for i in word_list:
  cnt.append(S.count(i))

if cnt.count(max(cnt)) >= 2:
  print("?")
else:
  max_idx = cnt.index(max(cnt))
  print(  word_list[max_idx].upper()  )

aaaae
A

In [ ]:
S = list(input().split())
print(len(S))

Teullinika Teullyeotzi
2

In [ ]:
A, B = input().split()

new_A = A[2] + A[1] + A[0] # new_A[::-1] -> 역순 배열
new_B = B[2] + B[1] + B[0]

if int(new_A) > int(new_B):
  print(int(new_A))
else:
  print(int(new_B))

839 237
938

In [ ]:
S = input()
dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

sec = 0
for i in S:
  for j in dial:
    if i in j:
      sec += dial.index(j)+3
    
print(sec)

WA
13

In [ ]:
alphabet = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
a = input()

for i in alphabet:
  a = a.replace(i, "*")

print(len(a))

ljes=njak
6

In [ ]:
N = int(input())

True_group = 0
for i in range(N):
  word = input()
  not_group = 0
  for j in range(len(word)-1):
    if word[j] != word[j+1]:
      if word[j+1:].count(word[j]) > 0 :
        not_group = 1
        break
  if not_group == 0:
    True_group += 1

print(True_group)

4
aba
aa
abbba
abab
1

In [ ]:
A, B, C = map(int, input().split())

if B >= C:
  print(-1)
else:
  print(int(A/(C-B) + 1))

2100000000 9 10
2100000001

In [ ]:
N = int(input())

cnt = 1
add_num = 6
num = 1
while N > num:
  cnt += 1
  num += add_num
  add_num += 6

print(cnt)

66
6

In [ ]:
X = int(input())

line = 0
cnt = 0

while X > cnt:
  line += 1
  cnt += line

gap = cnt - X

if line % 2 == 0:
  top = line-gap
  under = gap + 1
else :
  top = gap + 1
  under = line - gap

print('{}/{}'.format(top, under))

14
2/4

In [ ]:
A, B, V = map(int, input().split())

day = (V-B) / (A-B)

if day == int(day):
  print(int(day))
else: print(int(day)+1)

100 99 1000000000
999999901

# 21.07.29

In [ ]:
T = int(input())

for i in range(T):
  H, W, N = map(int, input().split())
  floor = N%H
  room = N//H + 1
  if floor == 0:
    floor = H
    room = N//H
  print(floor*100 + room)

2
6 12 10
402
30 50 72
1203

In [ ]:
T = int(input())

for i in range(T):
  k = int(input())
  n = int(input())
  num = [x+1 for x in range(n)]
  for j in range(k):
    for s in range(1, n):
      num[s] += num[ s-1 ]
  print(num[-1])

2
1
3
6
2
3
10

In [ ]:
N = int(input())
kg = N

five = N // 5
three = 0

while True:

  if five  * 5 == N:
    print(five + three) 
    break
  
  N -= 3
  three += 1
  five = N // 5
  
  if N < 0:
    print(-1)
    break

4
-1

In [ ]:
T = int(input())

for _ in range(T):
  x, y = map(int, input().split())
  move = 1
  count = 0
  distance = y-x
  move_plus = 0
  while move_plus < distance :
    count += 1
    x = x+move
    move_plus += move
    if count%2 == 0:
      move += 1
  print(count)

1
0 9
5

In [ ]:
N = int(input())

num = list(map(int,input().split()))

cnt = 0
for i in num:
  devi = 0
  for j in range(1, i+1):
    if i % j == 0:
       devi += 1
  if devi == 2:
    cnt += 1
    

print(cnt)

4
1 3 5 7
3

In [ ]:
M = int(input())
N = int(input())

full = list(range(M, N+1))
TR = []
FL = []
for i in full:
  if i == 1:
    FL.append(i)
  else:
    for j in range(2, i):
      if i % j == 0:
        FL.append(i)
        break
    if i not in FL:
      TR.append(i)

if full == FL:
  print(-1)
else:
  print(sum(TR))
  print(min(TR))

1
10
17
2

In [ ]:
N = int(input())
i = 2

while N != 1:
  if N % i == 0:
    N = N/i
    print(i)
  else: i += 1

72
2
2
2
3
3

In [ ]:
N, M = map(int,input().split())

board = []
for _ in range(N):
  board.append(list(input().rstrip()))

dx = [1, -1, 0, 0]
dy = [0, 0, 1, -1]
# [오른쪽, 왼쪽, 위, 아래] #
visited = [   [  [  [False]*M   for _ in range(N)   ]   for _ in range(M)  ]  for _ in range(N)  ]
queue = []

def init():
  R_row, R_col, B_row, B_col = 0, 0, 0, 0

  for i in range(N):
    for j in range(M):
      if board[i][j] == 'R':
        R_row, R_col = i, j
      if board[i][j] == 'B':
        B_row, B_col = i, j

  queue.append((R_row, R_col, B_row, B_col, 1))
  visited[R_row][R_col][B_row][B_col] = True

def move(row, col, dx, dy):
  cnt = 0
  while board[row + dx][col + dy] != '#' and board[row][col] != 'O':
    cnt += 1
    row += dx
    col += dy
  return row, col, cnt

def solve():
  init()
  while queue:
    R_row, R_col, B_row, B_col,depth = queue.pop(0)
    if depth > 10:
      break

    for i in range(4):
      new_R_row, new_R_col, R_cnt = move(R_row, R_col, dx[i], dy[i])
      new_B_row, new_B_col, B_cnt = move(B_row, B_col, dx[i], dy[i])

      if board[new_B_row][new_B_col] != '0':

        if board[new_R_row][new_R_col] == '0':
          print(depth)
          return

        if new_R_row == new_B_row and new_R_col == new_B_col:
          if R_cnt > B_cnt:
            new_R_row -= dx[i]
            new_R_col -= dy[i]
          else:
            new_B_row =- dx[i]
            new_B_col -= dy[i]
        if not visited[new_R_row][new_R_col][new_B_row][new_B_col]:
          visited[new_R_row][new_R_col][new_B_row][new_B_col] = True
          queue.append([new_R_row, new_R_col, new_B_row, new_B_col, depth+1])
  print(-1)

solve()

5 5
#####
#..B#
#.#.#
#R0.#
#####
3

# 21.07.30

In [ ]:
M, N = map(int, input().split())

def isPrime(m, n):
  n += 1
  prime = [True] * n
  for i in range(2, int(n**0.5)+1):
    if prime[i] == True :
      for j in range(2*i, n, i):
        prime[j] = False

  for i in range(m,n):
    if i > 1 and prime[i] == True :
      print(i)

isPrime(M, N)

3 16
3
5
7
11
13

In [ ]:
n = 1

def isPrime(n):
  prime_list=[]
  two_n = 2*n + 1
  prime = [True] * two_n
  for i in range(2, int(two_n**0.5)+1):
    if prime[i] == True :
      for j in range(2*i, two_n, i):
        prime[j] = False

  for i in range(n+1,two_n):
    if i > 1 and prime[i] == True :
      prime_list.append(i)
  
  print(len(prime_list))

while True:
  n = int(input())
  if n == 0:
    break
  else:
    isPrime(n)

13
3
0

In [ ]:
T = int(input())

prime_list=[]
prime = [True] * 10001
for i in range(2, int(10001**0.5)+1):
  if prime[i] == True :
    for j in range(2*i, 10001, i):
      prime[j] = False

for i in range(1,10001):
  if i > 1 and prime[i] == True :
    prime_list.append(i)


for i in range(T):
  n = int(input())
  for j in range(n//2, 1, -1):
    if (n-j in prime_list) and (j in prime_list) :
      print(j, n-j)
      break

1
10000
4919 5081

In [ ]:
x, y, w, h = map(int, input().split())

if (w-x >= x) and (h-y >= y):
  if x >= y:
    print(y)
  else: print(x)
elif (w-x >= x) and (h-y < y) :
  if x >= h-y:
    print(h-y)
  else: print(x)
elif (w-x < x) and (h-y >= y) :
  if w-x >= y:
    print(y)
  else: print(w-x)
else:
  if w-x >= h-y:
    print(h-y)
  else: print(w-x)

6 2 10 3
1

In [ ]:
x1, y1 = map(int, input().split())
x2, y2 = map(int, input().split())
x3, y3 = map(int, input().split())

if x1 == x2:
  x4 = x3
elif x1 == x3:
  x4 = x2
else:
  x4 = x1

if y1 == y2:
  y4 = y3
elif y1 == y3:
  y4 = y2
else:
  y4 = y1

print(x4, y4)

30 20
10 10
10 20
30 10

In [ ]:
while True:
  len_list = list(map(int, input().split()))
  if len_list[0] == 0 and len_list[1] == 0 and len_list[2]== 0:
    break
  else:
    max_idx = len_list.index(max(len_list))
    max_val = len_list.pop(max_idx)
    if max_val ** 2 == len_list[0] ** 2 + len_list[1] ** 2:
      print('right')
    else: print('wrong')

6 8 10
right
25 52 60
wrong
5 12 13
right
0 0 0

In [ ]:
import math

R = int(input())

print( (R**2) * math.pi )
print( (2 * R) * R )

42
5541.769440932395
3528

In [ ]:
T = int(input())

for _ in range(T):
  x1, y1, r1, x2, y2, r2 = map(int, input().split())
  distance = (x1-x2)**2 + (y1-y2)**2

  if x1 == x2 and y1 == y2 and r1 == r2:
    print(-1)
  else:
    if distance > ((r1 + r2) ** 2):
      print(0)
    elif distance == ((r1 + r2) ** 2):
      print(1)
    elif distance < ((r1 + r2) ** 2):
      if distance > ((r1 - r2) ** 2):
        print(2)
      elif distance == ((r1 - r2) ** 2):
        print(1)
      else:
        print(0)

1
1 1 1 1 1 5
0

In [ ]:
def factorial(n):
  result = 1
  if n > 0:
    result = n * factorial(n-1)
  return result

n = int(input())
print(factorial(n))

10
3628800

In [ ]:
def fibonacci(n):
  if n <= 1:
    return n
  return fibonacci(n-1) + fibonacci(n-2)

n = int(input())
print(fibonacci(n))

10
55

In [ ]:
def star(n):
  matrix = []
  for i in range(3 * len(n)):
    if i // len(n) == 1:
      matrix.append( n[i % len(n)] + " " * len(n) + n[i % len(n)])
    else:
      matrix.append( n[i % len(n)] * 3)
  return matrix

stars = ["***", "* *", "***"]

n = int(input())
e = 0
while n != 3:
  n = int(n/3)
  e += 1

for i in range(e):
  stars = star(stars)
for i in stars:
  print(i)

9
*********
* ** ** *
*********
***   ***
* *   * *
***   ***
*********
* ** ** *
*********

In [ ]:
def hanoi(N, a, b, c):
  if N == 1:
    move.append([a,c])
  else:
    hanoi(N-1, a, c, b)
    move.append([a,c])
    hanoi(N-1, b, a, c)

move =[]
hanoi(int(input()), 1, 2, 3)

print(len(move))
print('\n'.join([' '.join(str(i) for i in row) for row in move]))

5
31
1 3
1 2
3 2
1 3
2 1
2 3
1 3
1 2
3 2
3 1
2 1
3 2
1 3
1 2
3 2
1 3
2 1
2 3
1 3
2 1
3 2
3 1
2 1
2 3
1 3
1 2
3 2
1 3
2 1
2 3
1 3

# 21.08.02

In [ ]:
n, m = map(int, input().split())

num = list(map(int, input().split()))
sum_list = []

for i in range(n-2):
  for j in range(i+1, n-1):
    for k in range(j+1, n):
      if (num[i] + num[j] + num[k]) <= m:
        sum_list.append(num[i] + num[j] + num[k])

print(max(sum_list))

In [ ]:
n = int(input())

for i in range(n+1):
  digit_num = list(map(int, str(i)))
  create_num = i + sum(digit_num)
  if create_num == n:
    print(i)
    break

  if i == n:
    print(0)

216
198

In [ ]:
n = int(input())

full_list = []

for i in range(n):
  x, y = map(int, input().split())
  full_list.append(list([x, y]))

rank_list = []
for i in range(n):
  rank = 1
  for j in range(n):
    if full_list[i][0] < full_list[j][0] and full_list[i][1] < full_list[j][1]:
      rank += 1
  rank_list.append(rank)

for i in rank_list:
  print(i, end=' ')

5
55 185
58 183
88 186
60 175
46 155
2 2 1 2 5

In [ ]:
n, m = map(int, input().split())

board = []
for _ in range(n):
  board.append(list(input()))

cnt_list=[]

for i in range(n-7):
  for j in range(m-7):
    W_first = 0
    B_first = 0
    for s in range(i, i+8):
      for k in range(j, j+8):

          if ((s-i)+(k-j)) % 2 == 0:
            if board[s][k] != 'W':
              W_first += 1
            else:
              B_first += 1
          else:
            if board[s][k] != 'B':
              W_first += 1
            else:
              B_first += 1

    cnt_list.append(W_first)
    cnt_list.append(B_first)

print(min(cnt_list))

10 13
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
BBBBBBBBWBWBW
BBBBBBBBBWBWB
WWWWWWWWWWBWB
WWWWWWWWWWBWB
12

In [ ]:
N = int(input())

start_num = 666
cnt = 0
while True:
  
  if '666' in str(start_num):
    cnt += 1

  if cnt == N:
    break  
    
  start_num += 1


print(start_num)

11
6664

In [ ]:
N = int(input())

num_list = []
for _ in range(N):
  num_list.append(int(input()))

for i in range(len(num_list)):
  for j in range(len(num_list)):
    if num_list[i] < num_list[j]:
      num_list[i], num_list[j] = num_list[j], num_list[i]

for _ in num_list:
  print(_)

5
5
2
3
4
1
1
2
3
4
5

In [ ]:
import sys

N = int(input())

num_list = []
for _ in range(N):
  num_list.append(int(sys.stdin.readline()))


for _ in sorted(num_list):
  print(_)

5
5
4
3
2
1
1
2
3
4
5

In [ ]:
import sys

N = int(input())

num_list = [0] * 10001

for _ in range(N):
  num = int(sys.stdin.readline())
  num_list[num] += 1

for i in range(1, 10001):
  if num_list[i] != 0:
    for _ in range(num_list[i]):
      print(i)

In [ ]:
import sys
from collections import Counter

N = int(input())

num_list = []
for _ in range(N):
  num_list.append(int(sys.stdin.readline()))

sansul = round( sum(num_list) / N )
num_list.sort()
chungang = num_list[N//2]

diction = Counter(num_list)
modes = diction.most_common()

if N > 1:
  if modes[0][1] == modes[1][1]:
    mod = modes[1][0]
  else:
    mod = modes[0][0]
else:
  mod = modes[0][0]

length = max(num_list)-min(num_list)

print(sansul)
print(chungang)
print(mod)
print(length)

In [ ]:
N = list(input())

N.sort(reverse=True)

for i in range(len(N)):
  print(N[i], end='')

2143
4321

#21.08.03

In [ ]:
import sys
N = int(sys.stdin.readline())

num_list = []
for _ in range(N):
  num_list.append(list(map(int, sys.stdin.readline().split())))

num_list = sorted(num_list)

for i, j in num_list:
  print(i, j)

In [ ]:
import sys

input = sys.stdin.readline
N = int(input())

num_list = []
for _ in range(N):
  x, y = map(int, input().split())
  num_list.append([y, x])

num_list = sorted(num_list)

for i, j in num_list:
  print(j, i)

In [ ]:
import sys

# input = sys.stdin.readline
N = int(input())

word_list = []
for _ in range(N):
  word = str(input())
  length_word = len(word)
  word_list.append((length_word, word))

word_set = list(set(word_list))
word_set = sorted(word_set)

for i, j in word_set:
  print(j)

In [ ]:
import sys

# input = sys.stdin.readline
N = int(input())

num_list = []
for _ in range(N):
  x, y = input().split()
  num_list.append((int(x), y.strip()))

num_list = sorted(num_list, key = lambda x : x[0])

for i, j in num_list:
  print(i, j)

In [ ]:
import sys

# input = sys.stdin.readline
N = int(input())

num_list = list(map(int, input().split()))

num_sort = sorted(set(num_list))

num_new = {num_sort[i] : i for i in range(len(num_sort))}

for i in num_list:
  print(num_new[i], end=' ')

5
2 4 -10 4 -9
2 3 0 3 1

In [ ]:
import sys
n, m = map(int, input().split())

visited = [False] * n             # 각 숫자가 사용되었는지
result = []                       # 결과출력용

def solve(depth, n, m):
  if depth == m:                  # 결과출력 길이가 m이면 중단 -> DFS랑 다른 점
    print(' '.join(map(str, result))) # 출력형식에 맞추기
    return
  for i in range(n):              # n까지의 숫자 모두 탐색
    if visited[i] == False:       # 이 숫자가 사용되지 않았다면
      visited[i] = True           # 이 숫자를 사용한걸로 바꾸고
      result.append(i+1)          # 결과에 이 숫자 추가
      solve(depth + 1, n, m)      # 결과 길이를 1로 늘려주고, 다시 탐색
                                    # 앞에서 사용한 숫자는 넘어가고 사용하지 않은 것만 탐색
      visited[i] = False          # 다시 초기화
      result.pop()                # 결과값의 마지막 값만 삭제하고 다시
                                    # 다시 처음부터 안하고 마지막 값만 고치기

solve(0, n, m)

In [ ]:
import sys
n, m = map(int, input().split())

visited = [False] * n
result = []

def solve(depth, idx, n, m):      # idx 인자를 추가해서 앞 숫자보다 더 큰 숫자만 탐색
  if depth == m:
    print(' '.join(map(str, result)))
    return
  for i in range(idx, n):         # idx 인자에 앞숫자보다 큰 숫자부터 시작하도록
    if visited[i] == False: 
      visited[i] = True 
      result.append(i+1)
      solve(depth + 1, i+1, n, m) # idx 인자에 앞숫자보다 큰 숫자부터 시작하도록
      visited[i] = False
      result.pop()

solve(0, 0, n, m)

4 2
1 2
1 3
1 4
2 3
2 4
3 4

In [ ]:
import sys
n, m = map(int, input().split())

# 방문했던 숫자도 다시 사용 가능하므로 visit 리스트 제거
result = []

def solve(depth, n, m):
  if depth == m:
    print(' '.join(map(str, result)))
    return
  for i in range(n):
    result.append(i+1)
    solve(depth + 1, n, m)
    result.pop()

solve(0, n, m)

4 2
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
import sys
n, m = map(int, input().split())

# 방문했던 숫자도 다시 사용 가능하므로 visit 리스트 제거
result = []

def solve(depth, idx, n, m):
  if depth == m:
    print(' '.join(map(str, result)))
    return
  for i in range(idx, n):
    result.append(i+1)      # idx추가해서 앞 숫자와 같거나 큰 숫자만 고려
    solve(depth + 1, i, n, m)
    result.pop()

solve(0, 0, n, m)

3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

In [ ]:
# Python3로는 계속 시간초과라서 PyPy3를 씀
# Python3로 해결하기 부적합한 문제라고 함

import sys
N = int(input()) #sys.stdin.readline

row = [False] * N
# NxN 정사각형에서 대각선열의 개수는 2N-1개
diag1 = [False] * (2*N - 1)
diag2 = [False] * (2*N - 1)
cnt = 0

def solve(depth):
  global cnt #전역변수 선언 -> 이렇게 해야 함수 밖에서도 사용가능한거 같음
  if depth == N:
    cnt += 1
    return
  
  for i in range(N):
    # 이 부분이 제일 이해하기 어려운데
    # 일단 같은 행에 없고, 같은 대각선 양쪽을 봤을 때 없으면 True로 전환
    # 대각선 참조하는 법은 다시 공부해보기
    if (row[i] == False) and (diag1[depth+i] == False) and (diag2[depth-i+N-1] == False):
      row[i] = diag1[depth+i] = diag2[depth-i+N-1] = True
      solve(depth+1)
      row[i] = diag1[depth+i] = diag2[depth-i+N-1] = False

solve(0)
print(cnt)

12
14200

#21.08.04

In [38]:
board = []
for _ in range(9):
  tmp = list(map(int, input().split()))
  board.append(tmp)

zeros = []
for i in range(9):
  for j in range(9):
    if board[i][j] == 0:
      zeros.append((i,j))

def is_promising(i, j):
  promising = [1,2,3,4,5,6,7,8,9]

  for k in range(9):
    if board[i][k] in promising:
      promising.remove( board[i][k] )
    if board[k][j] in promising:
      promising.remove( board[k][j] )
    
  i //= 3
  j //= 3
  for p in range( (i*3), (i+1)*3 ):
    for q in range( (j*3), (j+1)*3 ):
      if board[p][q] in promising:
        promising.remove( board[p][q] )

  return promising

flag = False
def DFS(depth):
  global flag

  if flag:
    return
  
  if depth == len(zeros):
    for row in board:
      print(*row)
    flag = True
    return

  else:
    (i, j) = zeros[depth]
    promising = is_promising(i, j)

    for num in promising:
      board[i][j] = num
      DFS(depth + 1)
      board[i][j] = 0

DFS(0)

0 3 5 4 6 9 2 7 8
7 8 2 1 0 5 6 0 9
0 6 0 2 7 8 1 3 5
3 2 1 0 4 6 8 9 7
8 0 4 9 1 3 5 0 6
5 9 6 8 2 0 4 1 3
9 1 7 6 5 2 0 8 0
6 0 3 7 0 1 9 5 2
2 5 8 3 9 4 7 6 0
1 3 5 4 6 9 2 7 8
7 8 2 1 3 5 6 4 9
4 6 9 2 7 8 1 3 5
3 2 1 5 4 6 8 9 7
8 7 4 9 1 3 5 2 6
5 9 6 8 2 7 4 1 3
9 1 7 6 5 2 3 8 4
6 4 3 7 8 1 9 5 2
2 5 8 3 9 4 7 6 1

In [47]:
N = int(input())
num = list(map(int, input().split()))
pl_mi = list(map(int, input().split()))


result_list = []

def DFS(depth, result, pl, mi, mu, dv):
  global result_list
  if depth == N:
    result_list.append(result)
    return
  
  else:
    if pl:
      DFS(depth+1, result+num[depth], pl-1, mi, mu, dv)
    if mi:
      DFS(depth+1, result-num[depth], pl, mi-1, mu, dv)
    if mu:
      DFS(depth+1, result*num[depth], pl, mi, mu-1, dv)
    if dv:
      DFS(depth+1, result//num[depth] if result > 0 else -(-result//num[depth]) , pl, mi, mu, dv-1)


DFS(1, num[0], pl_mi[0], pl_mi[1], pl_mi[2], pl_mi[3])
print(max(result_list))
print(min(result_list))

6
1 2 3 4 5 6
2 1 1 1
54
-24

In [124]:
N = int(input())
S = [list(map(int, input().split())) for _ in range(N)]

from itertools import combinations

# 링크팀 조합
team_rink = list(combinations(range(N), N//2))
# 스타트팀 조합(링크팀에 뽑히지 않은 사람으로)
team_start = []
for j in team_rink:
  tmp = []
  for i in range(N):
    if i not in j:
      tmp.append(i)
  team_start.append(tmp)

# 각 조합별 점수 계산 함수
def calcul(team):

  score_list = []

  for i in range(len(team)):
    sum_tmp = list(combinations(team[i], 2))
    score = 0
    for k, l in sum_tmp:
      score += (S[k][l] + S[l][k])
    score_list.append(score)
  
  return score_list

# 점수차이 리스트 생성
diff_list = []
for i in range(len(team_rink)):
  diff_list.append(abs(calcul(team_start)[i] - calcul(team_rink)[i]))

# 최솟값 출력
print(min(diff_list))

#######################
###############시간초과

8
0 5 4 5 4 5 4 5
4 0 5 1 2 3 4 5
9 8 0 1 2 3 1 2
9 9 9 0 9 9 9 9
1 1 1 1 0 1 1 1
8 7 6 5 4 0 3 2
9 1 9 1 9 1 0 9
6 5 4 3 2 1 9 0
1